.bgimg {
    background-image: url('../images/code_macbook.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.bgimg-intro {
    background-image: url('../images/code_macbook.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

body, html {
  height: 100%; 
  overflow: hidden;
  font-family: "Raleway", sans-serif;
  color: white;
}

i.fa {
  font-size:28px;
}

.w3-button:hover{
    color: white!important;
    background-color: transparent!important;
}